

<div class="logreg-forms">
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>

<input type="email"  ng-model="email" class="form-control" placeholder="Email address" required="" autofocus="">
<input type="password"  ng-model="password" class="form-control" placeholder="Password" required="">

<br>
<button type="button" class="btn btn-primary" ng-click="userLogin()">Login</button>

    <hr>
<button type="button" class="btn btn-primary" ng-click="signup()">SignUp</button>

<div style="color: black">{{login_info}}</div>

</div>
