
<div class="menuLeftSide" >
    <table id="tab">
        <tr ng-repeat="list in navList">
            <td class="menuButton clickable-row" data-href="{{list.navUrl}}"  style="border-top: 2px solid white;">
                <table style="width:100%;">
                    <tr>

                        <td class="menuText">
                            <a class="menuLink menuColor" href="{{list.navUrl}}" style="text-decoration: none;font-size: 16px;">{{list.title}}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>


<div>
    <fieldset >
        <legend >User List</legend>
        <table class="table table-bordered">
            <tr>
                <th style="padding:25px; ">

                    <a   ng-click="orderByName('firstName')">
                        User Name</a>

                </th>
                <th style="padding:25px;">
                    <a   ng-click="orderByEmail('email')">
                        Email</a>

                 </th>
                <th style="padding:25px;">Status</th>
                <th style="padding:25px;">Last LoginIn</th>
                <th style="padding:25px;">Last LoginOut</th>
            </tr>

            <tr ng-repeat="list in userListData">
                <!--<tr>-->
                <div>
                    <td style="padding:25px;">
                        {{list.firstName}}  {{list.lastName}}
                    </td>

                    <td style="padding:25px;">
                        {{list.email}}
                    </td>

                    <td style="padding:25px;">
                        {{list.logOutStatus}}
                    </td>
                    <td style="padding:25px;">
                        {{list.lastLoginTime}}
                    </td>

                    <td style="padding:25px;">
                        {{list.logOutTime}}
                    </td>

                </div>
                <!--</tr>-->
            </tr>
        </table>

    </fieldset>


    <button type="button" class="btn btn-info"  ng-disabled="nextButton" ng-click="next_question()">Next
    </button>
    <button type="button" class="btn btn-info" ng-disabled="previousButton"  ng-click="previous_question()" >
        Previous
    </button>

    <div ng-show="pageNum" class="neo-order page-font pull-left" style="white-space: nowrap" >Page <span>{{page}}</span> of
        <span>{{totalPage || 0}}</span>
    </div>
</div>


<div>
    <button type="button" class="btn btn-danger" style="top: 0;position: fixed;
  right: 0;" ng-click="logout()">LogOut</button>
</div>